
.gridContainer {
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center; 
    align-items: center;
    gap: 20px; 
    list-style: none;
    text-align: center; 
    
  }
  
  .gridItem {
  
    padding: 10px;
    text-align: center;
    max-width: 300px; 
    margin: 0 auto;
    background-color: #F6F3F3;
  }
  
  .gridItem img {
    max-width: 100%; 
    height: auto; 
  }
  