.navStyle {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
  font-size: 1.55rem;
  background-color: #f6f3f3;
  color: black;
  margin: 0;
  padding: 10px;
  justify-content: space-between;
}

.navTitle {
  margin-right: 100px;
  color: #c52525;
  background-color: #f6f3f3;
  font-weight: 1000;
  li {
    border: 1px solid #000;
    padding: 5px;
  }
}

body {
  margin: 0px;
}
